
$background-white: #fefbf7;
$background-card: #feffd7;
$background-text: #feffd7;
$background-component: #fffff2;
$text-red: #cc0033;
$background-red: #cc0033;
$text-color: #9B5830;
$background-input:#CCCCCC;
$background-mustard: #DDBB44;
$font-text:'Libre Baskerville', serif;
$text-copyright: #FDE17E;